/* https://coolors.co/palette/EDE342-F2BF6C-F69A97-FB76C1-FF51EB */

section#intro {
    background-color: #ede342;
    color: black;
    height: 50vh;
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
    .column {
        flex: 100%;
        max-width: 100%;
    }
}

#intro h1 {
    font-size: 50px;
}

#intro h3 {
    font-size: 50px;
    margin-top: 20px;
    margin-bottom: 20px;
    opacity: 0;
    animation-name: fadein;
    animation-delay: 1s;
    animation-duration: 2s;
    animation-fill-mode: forwards;
}

#intro code {
    font-size: 100px;
    font-weight: 400;
    opacity: 0;
    color: #ff51eb;
    animation-name: fadein;
    animation-delay: 4s;
    animation-duration: 2s;
    animation-fill-mode: forwards;
}

#beach {
    font-size: 100px;
}

#tea {
    font-size: 100px;
}
#walk {
    font-size: 100px;
}

#yoga {
    font-size: 100px;
}

#bike {
    font-size: 100px;
}

@keyframes fadein {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

#intro #downArrow {
    font-size: 40px;
    position: absolute;
    bottom: 30px;
    color: #dfbe99;
    opacity: 0;
    animation-name: fadein;
    animation-delay: 5s;
    animation-duration: 2s;
    animation-fill-mode: forwards;
}
#intro #downArroow:hover {
    color: #729ea1;
}

section#about {
    font-size: 45px;
    font-weight: 300;
    background-color: #fb76c1;
    color: black;
    padding: 30px;
}

h3 {
    font-size: 30px;
}

p {
    font-size: 30px;
}
#expand {
    color: black;
    font-size: 50px;
}
.row {
    display: flex;
    flex-wrap: wrap;
    padding: 0;
}
img {
    border: 5px solid #ff51eb;
}

footer {
    background-color: #ede342;
    color: #ff51eb;
    padding: 20px;
}
