/* https://coolors.co/palette/EDE342-F2BF6C-F69A97-FB76C1-FF51EB */

section#intro {
    background-color: #ede342;
    color: black;
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
    .column {
        flex: 100%;
        max-width: 100%;
    }
}

#intro h1 {
    font-size: 50px;
}

#intro h3 {
    font-size: 50px;
    margin-top: 20px;
    margin-bottom: 20px;
}

#intro code {
    font-size: 100px;
    font-weight: 400;
    color: #ff51eb;
}

#beach {
    font-size: 50px;
}

#tea {
    font-size: 50px;
}
#walk {
    font-size: 50px;
}

#yoga {
    font-size: 50px;
}

#bike {
    font-size: 50px;
}

#intro #downArrow {
    font-size: 40px;
    position: absolute;
    bottom: 30px;
    color: #dfbe99;
    opacity: 0;
}
#intro #downArroow:hover {
    color: #729ea1;
}

section#about {
    font-size: 45px;
    font-weight: 300;
    background-color: #fb76c1;
    color: black;
    padding: 30px;
}

h3 {
    font-size: 30px;
}

p {
    font-size: 30px;
}

h1 {
    text-align: center;
}
#expand {
    color: black;
    font-size: 50px;
}

div.polaroid {
    width: 100%;
    background-color: white;
    box-shadow: 0 4px 8px 0 #EDE342(0, 0, 0, 0.2),
        0 6px 20px 0 #EDE342(0, 0, 0, 0.19);
    margin-bottom: 25px;
}

div.container {
    text-align: center;
    padding: 10px 20px;
}

footer {
    background-color: #ede342;
    color: #ff51eb;
    padding: 20px;
    text-align: center;
}
